#:{$PORT}
localhost:3000

templates

rewrite /weather/* /weather/index.html

reverse_proxy /api/ {
    to www.metaweather.com:443
    header_up Host {http.reverse_proxy.upstream.host}
    header_up -Accept-Encoding
    transport http {
        tls
    }
}

file_server {
    root html
}

